.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #31a931;
}

.navright {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* Links */
.nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* DROPDOWN */
.dropdown {
  position: relative;
}

.dropbtn {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}

/* Dropdown box */
.dropdown-content {
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
  background: white;
  min-width: 160px;
  border-radius: 6px;
  z-index: 9999;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

/* Dropdown links */
.dropdown-content a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
}

.dropdown-content a:hover {
  background: #f1f1f1;
}

/* SHOW ON HOVER */
.dropdown:hover .dropdown-content {
  display: block;
}

/* serch box */
.search-box input {
  padding: 6px 10px ;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-left: 480px;
}

/* ==========serch button icon */
.search-box {
  position: relative;
}
/* 
.search-box input {
  padding: 6px 35px 6px 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  width: 170px;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 16px;
  color: #28a745;
}

.search-icon:hover {
  color: #1e7e34;
} */ */

/* 2================= */
.search-box {
  position: relative;
}

.search-box input {
  width: 120px;
  padding: 6px 35px 6px 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  transition: width 0.4s ease;
}

.search-box input:focus {
  width: 220px;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #28a745;
}
